{% extends "base.html" %}
{#{% load bootstrap5 %}#}
{% load static %}
{% block main %}

    <!-- ======= Header ======= -->
    {% include "header.html" %}
    <!-- End Header -->

    <!-- ======= Sidebar ======= -->
    {% include "sidebar.html" %}
    <!-- End Sidebar-->

    <!-- ======= Main ======= -->
    {% block content %}

    {% endblock %}
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    {% include "footer.html" %}
    <!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>


{% endblock %}<!-- End Main block -->

