<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

<ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
    <a class="nav-link " href="{% url 'main' %}">
      <i class="bi bi-grid"></i>
      <span>Главная</span>
    </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
    <a class="nav-link collapsed" href="{% url 'account-detail' %}">
      <i class="bi bi-person"></i>
      <span>Профиль</span>
    </a>
    </li><!-- End Profile Page Nav -->

    <li class="nav-item">
    <a class="nav-link collapsed" href="{% url 'main' %}">
      <i class="bi bi-gem"></i>
      <span>Управление ботами</span>
    </a>
    </li><!-- End Bot Managements -->

    <li class="nav-item">
    <a class="nav-link collapsed" href="{% url 'main' %}">
      <i class="bi bi-menu-button-wide"></i>
      <span>Стратегии</span>
    </a>
    </li><!-- End Profile Page Nav -->

    <li class="nav-item">
    <a class="nav-link collapsed" href="{% url 'main' %}">
      <i class="bi bi-bar-chart"></i>
      <span>Котировки</span>
    </a>
    </li><!-- End Profile Page Nav -->

    <li class="nav-item">
    <a class="nav-link collapsed" href="{% url 'main' %}">
      <i class="bi bi-journal-text"></i>
      <span>Отчеты</span>
    </a>
    </li><!-- End Profile Page Nav -->


    <li class="nav-heading">Дополнительно</li>


  <li class="nav-item">
    <a class="nav-link collapsed" href="{% url 'faqs' %}">
      <i class="bi bi-question-circle"></i>
      <span>F.A.Q</span>
    </a>
  </li><!-- End F.A.Q Page Nav -->

  <li class="nav-item">
    <a class="nav-link collapsed" href="pages-contact.html">
      <i class="bi bi-envelope"></i>
      <span>Contact</span>
    </a>
  </li><!-- End Contact Page Nav -->

</ul>

</aside>
<!-- End Sidebar-->
